<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ghondar.vlc">
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <application
    android:theme="@style/AppTheme"/>
</manifest>
